<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ramos.pat.com.vieweventsfragments">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/tjlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tjlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="View Events"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".VerifyCode" />
        <activity android:name=".ConfirmCode" />
        <activity android:name=".VerifySuccess" />
        <activity
            android:name=".Portfolio"
            android:label="View Portfolio"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Year1"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Year2"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Year3"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Year4"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".EventDetails"
            android:label="Event Details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"  />
        <activity android:name=".ScanSuccess" />
        <activity android:name=".VerifyLoginCred" />
        <activity android:name=".VerLoginCredSuc" />
    </application>

</manifest>